In [1]:
import numpy as np
import pandas as pd

In [2]:
pollution = pd.DataFrame(
    {
        "Temperature": [90, 25, 35],
        "Population": [45, 32, 100],
        "Pollution": [7.2, 9.5, 8.4],
    },
    index=["Chicago", "New York", "Boston"],
)

In [3]:
pollution

          Temperature  Population  Pollution
Chicago            90          45        7.2
New York           25          32        9.5
Boston             35         100        8.4

In [7]:
# centering the data
pollution["Temperature"] = pollution["Temperature"] - pollution["Temperature"].mean()

In [8]:
pollution["Population"] - pollution["Population"].mean()

Chicago    -14.0
New York   -27.0
Boston      41.0
Name: Population, dtype: float64